@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddf2fd;

  background-attachment: fixed;
  background-size: cover;
  input {
    outline: none;
  }
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  /* margin-bottom: 0.5rem; */
  font-size: 1.75rem;
}

.content-container {
  display: grid;
  grid-template-columns: 250px calc(100vw - 250px);
}
.TodoForm-container {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 500px;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  .TodoForm {
    width: 100%;
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      .todo-input.Title {
        font-size: 18px;
      }
      .todo-input.Description {
        font-size: 14px;
      }
    }
    .actions {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 10px;
      padding: 10px;
      .todo-btn {
        background-color: #427d9d;
        padding: 7px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }
      .todo-btn.cancel {
        background-color: gray;
      }
    }
  }
}

.todo-input {
  outline: none;
  background: none;
  border: none;
  padding: 5px;

  color: #164863;
}

.todo-input::placeholder {
  color: #164863;
  font-size: 16px;
}
.edit-buttons button {
  background-color: #427d9d;
  padding: 0.55rem 0.7rem;
  border-radius: 5px;
  border: #427d9d;
  color: white;
  cursor: pointer;
}
.todo-btn {
  background-color: #427d9d;
  padding: 0.55rem 1rem;

  border: #427d9d;
  color: white;
  cursor: pointer;
}
.cancel-edit-btn {
  background-color: #427d9d;
  padding: 0.55rem 1rem;
  border-radius: 0px 5px 5px 0;
  border: #427d9d;
  color: white;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eeeeee;
  color: #164863;
  padding: 0.75rem 1rem;

  border-radius: 1px solid #164863;
  /* border-radius: 5px; */
  /* margin-bottom: 1rem; */
  .tasks-list {
    overflow: auto;
    border-radius: 5px;
    .task {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
  .icons {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    /* margin-top: 0.5rem; */
    /* svg {
      width: 20px;
      height: 20px;
    } */
    .delete-icon {
      color: red;
    }
  }
}

/* .edit-icon,
.delete-icon {
  margin-left: 0.75rem;
} */

.incompleted {
  /* color: #fff; */
  cursor: pointer;
}

.completed {
  text-decoration: line-through #164863 2px;
  cursor: pointer;
}

.check-icon,
.edit-icon,
.delete-icon {
  cursor: pointer;
}

.confirmation-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  color: #164863;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 15px;
  height: 100px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .message {
    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .actions {
    display: flex;
    justify-content: end;
    gap: 10px;

    .confirmation-button {
      padding: 7px;
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
    }
    .confirmation-button.cancel {
      background-color: grey;
    }
    .confirmation-button.delete {
      background-color: red;
    }
  }
}

.Profile-container {
  display: flex;
  align-items: center;
  height: 100vh;
}
